py-clob-client>=0.28.0
httpx>=0.27.0
python-telegram-bot>=21.0
pydantic-settings>=2.0.0
fastapi==0.115.0        
loguru
python-dotenv
ccxt>=4.2.0
fastapi>=0.102.0
uvicorn==0.32.0
eth-account
websockets>=11.0.3
pandas>=2.1.0
aiohttp
loguru
numpy>=1.25.2
