requests==2.31.0
web3==6.0.0
gql==3.4.0
asyncio==3.4.3
python-telegram-bot==20.3
setuptools>=68.0.0
python-dotenv
requests
python-telegram-bot>=20.5
websockets==11.0.3
python-dotenv==1.0.1
pandas
py_clob_client>=0.4.0
google-api-python-client
google-auth
