py-clob-client>=0.28.0
httpx>=0.27.0
python-telegram-bot>=20.3
fastapi>=0.109.0          
loguru
pydantic>=2.9.0
python-dotenv
ccxt>=2.9.79,<3.0
fastapi>=0.102.0
uvicorn>=0.22.0
eth-account
websockets>=11.0.3
pandas>=2.1.0
aiohttp
loguru
numpy>=1.25.2
